/* VARIABLES */

:root {
    --brand-color: #2196f3;
    --brand-color-dark: #212121;
    --brand-color-light: #757575;
    --brand-color-background: #2f303a;
}

/* GLOBALS */

* {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    color: #212121;
}

.unstyled-list {
    list-style: none;
}

/* HEADER STYLES */

.header-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ececec;
}

.page-header {
    display: flex;
}

.navigation-list,
.header-navigation {
    display: flex;
    align-items: center;
}

.navigation-list,
.right-navigation-list {
    display: flex;
    align-items: center;
}

.right-navigation-list {
    margin-left: 330px;
    gap: 40px;
}

.header {
    background-color: white;
}

.header-logo-1 {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: black;
    display: flex;
    align-items: center;
    margin: 24px 93px 25px auto;
}

.logo-2 {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.contact-list-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-light);
}

.phone-header {
    display: flex;
    width: max-content;
}

.icon-header {
    display: flex;
}

.nav-list-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-dark);
    margin: 32px 50px 32px 0px;
}

.nav-list-item:hover,
.contact-list-item:hover,
.nav-list-item:focus,
.contact-list-item:focus {
    color: var(--brand-color);
}

/* REQUEST SECTION STYLES */

.request-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--brand-color-background);
}

.request-section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 200px auto 30px auto;
}

.request-button {
    width: 200px;
    height: 50px;

    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    margin-bottom: 200px;

    cursor: pointer;
}

/* STRENGHTS SECTION */

.strenghts-section {
    display: flex;
}

.strenghts-list {
    display: flex;
    gap: 30px;
    margin: 94px auto;
}

.strenghts-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--brand-color-dark);
}

.strenghts-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--brand-color-light);
}

/* WHAT WE DO SECTION */

.what-we-do-list {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding-bottom: 94px;
}

.what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0px 0px 50px 0px;

    color: var(--brand-color-dark);
}

/* OUR TEAM SECTION */

.team-card {
    background: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    gap: 30px;
    justify-content: start;
}

.team-section {
    background-color: #f5f4fa;
    padding-bottom: 94px;
}

.team-picture {
    padding-bottom: 30px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 94px 0px 50px 0;

    color: var(--brand-color-dark);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;

    color: var(--brand-color-dark);
}

.team-role {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    color: var(--brand-color-light);
}

/* FOOTER STYLES */

.footer-list {
    margin-top: 28px;
}

.footer-list-item {
    padding-bottom: 12px;
}

.footer-section {
    background-color: var(--brand-color-background);
    padding-top: 60px;
}

.footer-style {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-style: normal;

    color: #ffffff;
}

.footer-phone {
    padding-bottom: 60px;
}

.phone-nr-footer,
.email-footer {
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo-1 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: #ffffff;
}

.address:hover,
.phone-nr-footer:hover,
.email-footer:hover,
.address:focus,
.phone-nr-footer:focus,
.email-footer:focus {
    color: var(--brand-color);
}

/* PORTFOLIO FILTER SECTION */

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px auto 50px auto;
}

.p-button {
    background-color: #f5f4fa;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--brand-color-dark);
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.p-button:hover,
.p-button:focus {
    background-color: var(--brand-color);
    color: #ffffff;
}

/* PORTFOLIO ELEMENTS SECTION */

.card-set {
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
    flex-wrap: wrap;
    justify-content: center;
}

.p-item {
    flex: 0 1 24%;
    background: #ffffff;
    border: 1px solid #eeeeee;
}

.p-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 0px 4px 24px;

    color: var(--brand-color-dark);
}

.p-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding: 0px 0px 20px 24px;

    color: var(--brand-color-light);
}

/*  */

.container {
    max-width: 1200px;
    margin: 0px auto;
}
